<!doctype html>
<html>
    <head>
        <title>Transaction History</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.25/spectre.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <form action="/transactionStatus" method="POST" class="centered mt-10 ml-10 mr-10">
            transactionId:<br><input type="text" name="transactionId",id="transactionId"><br>
            <input type="submit" class="btn btn-primary" value="Get Status"/>
        </form>
    </body>
</html>